# Original data 
data/annotations
data/bin2cogs.csv
data/genomes
data/gffs
data/proteoms
data/annotations.tar.gz
data/fOTUs.csv
data/genomes.tar.gz
data/gffs.tar.gz
data/proteoms.tar.gz
       	      
# Original analyses
analyses/manual_classification_annotation.txt
analyses/stats_on_representative_bins.csv
analyses/stats_on_all_fOTUed_bins.csv

# Viral proteom index files
analyses/HMM_scan/proteom_indexes

# Proteoms of each fOTU
analyses/fOTU_proteomes/*.faa

# R studio project config file and R history
.Rproj.user
.Rhistory

# HHMer search outputs
analyses/HMMsearch/hmmsearch_out_viruses/*.out

# Downloaded viral eggNOG data
analyses/HMMsearch/eggNOG_data/annotations/*
!analyses/HMMsearch/eggNOG_data/annotations/README.md
analyses/HMMsearch/eggNOG_data/tars/*
!analyses/HMMsearch/eggNOG_data/tars/README.md
analyses/HMMsearch/eggNOG_data/HMMs/*
!analyses/HMMsearch/eggNOG_data/HMMs/README.md

# Temporary directory for fOTUs that already have been scanned from viruses
analyses/fOTU_proteomes_studied/*

# Ignore all files but README.md in singularity directory
singularity/*
!singularity/README.md

# Temporary R objects for making runs faster
analyses/HMMsearch/temp_R_data/*.RData

