# Original data 
data/annotations
data/bin2cogs.csv
data/genomes
data/gffs
data/proteoms
data/annotations.tar.gz
data/fOTUs.csv
data/genomes.tar.gz
data/gffs.tar.gz
data/proteoms.tar.gz
       	      
# Original analyses
analyses/manual_classification_annotation.txt
analyses/stats_on_representative_bins.csv
analyses/stats_on_all_fOTUed_bins.csv

# Viral proteom index files
analyses/HMM_scan/proteom_indexes

# R studio project config file
.Rproj.user
